
<div class="ContactDiv  shadow1 mt-5">
	<h3 class="mb-5  text-center">Thanks for your message</h3><br />
	<h4 class="mb-5  text-center">A reply will be sent soon</h4><br />
	<a asp-controller="Home" asp-action="Index" class="mt-3 button1" style="width:250px" >
			<i class='fas fa-home'></i>&nbsp;Home Page</a>
</div>
