@{
    ViewData["Title"] = "Home Page";
}

<div class="container  Divcontainer">
    <div class="MainDiv text-center">
        <h1 class="display-2">Areej Sammour</h1><br /><br />
        <h3>Web Developer (Full Stuck)</h3>
        <h6>Front-End / Back-End</h6>
    </div>
    <div class="ImageDiv">
        <img src="~/images/Homeimage.jpg" class="img-fluid shadow" alt="Responsive image">
    </div>

</div>


