html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('/images/back3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #1B1A17;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul li {
    background-image: linear-gradient(to top left, #deccac, #5f5c53);
    border-radius: 30%;
    text-align: center;
    width: 100px;
    margin: 3px;
    font-size: 0.9em;
    color: #1B1A17;
}
nav ul li:hover {
        width: 150px;
        transition: 1s;
    }

footer {
    width: 100%;
    height: 40px;
    padding: 4px;
    background-image: linear-gradient(to bottom, #fce9c7, #1B1A17);
    color: #1B1A17;
    margin-bottom: 0px;
}

.ImageDiv {
    width: 30%;
    height: auto;
    margin: auto;
}

.MainDiv {
    width: 60%;
    height: auto;
    padding-top: 100px;
    color: #1B1A17;
    display: inline;
    font-weight: bolder;
}

    .MainDiv h1 {
        text-shadow: 10px 10px 15px #6f4b40;
        font-weight: bolder;
    }

.shadow {
    filter: drop-shadow(10px 8px 10px #f1b67e);
    border-radius: 15%;
}

.shadow1 {
    box-shadow: -5px 6px 0px 5px #f2c498;
    border-radius: 7%;
}
.inputdiv {
    box-shadow: 3px 3px 5px rgb(222, 219, 219) inset, 0px 1px 1px 2px #f1b67e inset;
    background-color: #F8F4EA;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

.Divcontainer {
    display: flex;
    text-align: center;
    margin:30px auto;
}

.Divcont {
    display: flex;
    margin : 30px auto;
    width: 90%;
}

.ListClass {
    width: 100%;
    margin: 25px auto;
    padding: 5px;
}

.DivItem {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
}

.alt-div {
    width: 30%;
    height: 230px;
    display: inline-block;
    background-image: linear-gradient(to top left, #c7af85, #f8efde);
    border-radius: 10%;
    padding-top: 10px;
    margin: 20px 10px;
    box-shadow: -4px 6px 0px 5px #f2c498;
    font-size: 12px;
}

    .alt-div:hover {
        color: #deccac;
        background-image: linear-gradient(to bottom right, #1B1A17, #9c988b);
        transition: 1s;
        height: 320px;
        font-size: 0.9em;
    }

.alt-name{
    margin:5px;
}
.alt-span {
    font-size: 1.7em;
    width: 50%;
    padding: 5px;
}

.prog-name {
    width: 100%;
    font-weight: bolder;
    margin: 2px auto;
    display: flex;
    text-align: left;
    padding-left: 4px;
}

.ContactDiv {
    width: 50%;
    margin: 10px auto;
    padding: 15px;
}

.button1 {
    background-color: #ECE8DD;
    color: grey;
    border: 2px solid #f1b67e;
    width:100px;
}
    .button1:hover {
        background-color: #c8c0b3;
        color: #1B1A17;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

.DivSize {
    width: 100%;
    margin: 10px auto;
}

.DivSize p {
    text-align:center;
    width:90%;
    margin:25px auto;
}

.TimeLineCol {
    width: 95%;
    height: auto;
    display: inline-block;
    padding-top: 10px;
    margin: 20px 150px;
}

.TimeLineCol h2 {
    width: 100%;
    text-align: left;
    color: #8e763b;
    font-weight: bolder;
   /* text-shadow: 1px 1px 2px #000000;*/
}

#timeline {
    list-style: none;
    margin: 50px 0 30px 10px;
    padding-left: 10px;
    border-left: 8px solid #d3c194;
    width:90%;
}
#timeline li {
        margin: 30px 20px;
        position: relative;
    }
#timeline p {
        margin: 0 0 15px;
    }
.date {
    margin-top: -12px;
    top: 70%;
    left: -138px;
    font-size: 1em;
    line-height: 20px;
    position: absolute;
}
.circle {
    margin-top: -10px;
    top: 70%;
    left: -41px;
    width: 15px;
    height: 15px;
    background: #d3c194;
    border: 5px solid #928158;
    border-radius: 50%;
    display: block;
    position: absolute;
}
.content {
    max-height: 50px;
    padding: 50px 5px 0;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5em;
    position: relative;
}

    .content:before, .content:after {
        content: "";
        width: 0;
        height: 0;
        border: solid transparent;
        position: absolute;
        pointer-events: none;
        right: 100%;
    }
    .content:before {
        border-right-color: inherit;
        border-width: 20px;
        top: 67%;
        margin-top: -20px;
    }

    .content:after {
        border-right-color: transparent;
        border-width: 17px;
        top: 50%;
        margin-top: -17px;
    }
    .content p {
        max-height: 0;
        color: #928158;
        text-align: justify;
        word-break: break-word;
        hyphens: auto;
        overflow: hidden;
    }

.relative label {
    font-size: 1.3em;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 20px;
    transition: transform 0.5s linear;
}

.radio {
    display: none;
}

    .radio:checked + .relative label {
        cursor: auto;
        transform: translateX(42px);
    }

    .radio:checked + .relative .circle {
        background: #f63b11;
    }

    .radio:checked ~ .content {
        max-height: 300px;
        border-color: #928158;
        margin-right: 20px;
        transform: translateX(20px);
        transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
    }

        .radio:checked ~ .content p {
            max-height: 500px;
            color: #928158;
            transition: color 0.3s linear 0.3s;
        }

div.gallery {
    border: 5px dotted #8e763b;
    height: 350px;
}

    div.gallery:hover {
        border: 2px solid #8e763b;
    }

    div.gallery img {
        width: 100%;
        height: 250px;
    }

div.desc {
    padding: 10px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding:6px;
    float: left;
    width: 25%;
}

.responsive2 {
    padding: 6px;
    float: left;
    width: 20%;
}

div.gallery2 {
    height: 250px;
}

div.gallery2 img{
    width : 100%;
    max-height : 250px;
    vertical-align:central  ;
}

@media (max-width: 989px) {
        .Divcontainer, .Divcont {
        display: inline-block;
        width: 100%;
        margin: 30px auto;
        text-align: center;
    }

    .ImageDiv {
        width: 50%;
        margin: 30px auto;
    }

    .MainDiv {
        width: 90%;
        margin: 2px auto;
        padding-top: 10px;
        display: inline-block;
        height: 200px;
    }

    .DivItem {
        padding: 2px;
        margin: 5px;
    }

    .ContactDiv {
        width: 90%;
        margin: auto;
        text-align: left;
    }

    .DivItem {
        padding: 5px;
        margin: 30px auto;
    }

    .alt-div {
        width: 42%;
        padding: 5px;
        margin: 10px;
        height: 310px;
    }

        .alt-div:hover {
            font-size: 1.1em;
            height: 480px;
        }

    .alt-span {
        font-size: 1.7em;
    }

    .prog-name {
        padding-left: 2px;
    }

    .TimeLineCol {
        width:100%;
        margin: 10px 70px;
        
    }

    #timeline {
        margin-left: 30;
        padding-left: 20px;
        border-left: 4px solid #d3c194;
    }

    #timeline li {
        margin: 50px 0;
        width:90%;
    }

    .date {
        left: -110px;
        font-size: 1.1em;
    }

    .circle {
        left: -30px;
    }

    .relative label {
        width: 95%;
        font-size: 1.1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        transform: translateX(10px);
        top: 23px;
    }

    .content:before, .content:after {
        border: solid transparent;
        bottom: 100%;
    }

    .content:before {
        border-right-color: inherit;
        border-width: 15px;
        top: 70%;
        margin-top: -22px;
    }

    .content p {
        font-size: 0.9em;
        line-height: 1.4;
    }

    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }

    .responsive2 {
        width: 25%;
    }

    div.gallery2 {
        height: 250px;
    }

    div.gallery2 img {
        max-height: 200px;
    }
}